<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vuelidate.min.js"></script>
    <script src="validators.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Login</title>
</head>
<body>
    <div id="app" class="main">

        <h1>Sign up</h1>
        <div class="container">
            <div class="sign-up-content">
                <form @submit.prevent="submitForm" autocomplete="off" class="signup-form">
                    <h2 class="form-title">What type of user are you ?</h2>
                    <div class="form-radio">
                        <input type="radio" name="member_level" value="newbie" id="newbie" checked="checked" />
                        <label for="parent">Parent</label>

                        <input type="radio" name="member_level" value="average" id="average" />
                        <label for="student">Student</label>

                        <input type="radio" name="member_level" value="master" id="master" />
                        <label for="Service-Providers">Service-Providers</label>
                    </div>

                    <div class="form-textbox">
                        <label for="name">Full name</label>
                        <input v-model="form.name" id="name" />
                        <span v-if="!nameIsValid" class="error-message">Name field is required</span>
                    </div>

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input v-model="form.email" id="email" />
                        <span class="error-message">Th Email field is required</span>
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" />
                        <span class="error-message">Th Password field is required</span>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
                    </div>
                </form>

                <p class="loginhere">
                    Already have an account ?<a href="#" class="loginhere-link"> Log in</a>
                </p>
            </div>
        </div>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="app.js"></script>
</body>
</html>